@model APISimpleResponse

    <body background="https://wallpaperstock.net/wallpapers/thumbs1/33645.jpg">
    </body>

@if (Model.Departures.Count() != 0)
    
{
<h2>We have found the following flights that match your specifications!</h2>
@foreach (Departure cool in Model.Departures)
{
    string hourMin = (cool.estimated).ToString();
    var timeString = hourMin.Substring(10, 5);
    var time = DateTime.Parse(hourMin).ToString("h:mm tt");
    <h2>
        @cool.iata airport at @time
    </h2>

    <h4>
        <a asp-action="TSASpecs"
           asp-controller="Home"
           asp-route-iata="@cool.iata">
            Show me the door-to-gate time for this flight.
        </a>
    </h4>
}
<h4>
    <a asp-action="Planes"
       asp-controller="Home">
        None of these interest me, take me back.
    </a>
</h4>
}
else
{
<div class="jumbotron">
    <h1 class="display-4">Shoot...</h1>
    <p class="lead">
        We have not found any flights that match your parameters.
    </p>
    <hr class="my-4">
    <p>Sorry about that.</p>
    <a class="btn btn-primary btn-lg" href="https://localhost:5001/" role="button">Take me back</a>
</div>
}




