@model Airplanes

<h1>Welcome to the Plane Builder</h1>    
<form asp-action="Planes" asp-controller="Home">

    <div>
        <h2>Please input a name for your airplane:</h2>
        <input type="text" name="Name" />
        <h2>Please provide a description for your airplane:</h2>
        <input type="text" name="Description" />
        <h2>
            <label>Please select the engine type for your plane: </label> <select asp-for="engineType" name="AirplaneProperties" id="engineTypes">
                @{
                    <option value="@Model.engineType">Jet</option>
                    <option value="@Model.engineType">TurboProp</option>


                }
            </select>
        </h2>
        <h2>Please enter the number of engines for your plane: </h2>
        <input type="number" name="engineCount" min="2" max="4"/>
        

        <button type="submit" class="btn btn-primary">"submit"</button>

    </div>

    </form>
