@model PlanesViewModel

<div>
    <h2>Here is your list of Planes</h2>
</div>

<ul>
    @foreach (var plane in Model.Planes)
    {
        <li class="list-group-item">
            <div>
                <h4>@plane.name</h4>
                <a asp-action="DeleteSelectedPlane"
                   asp-controller="Home"
                   asp-route-planeID="@plane.PlaneID">
                    Delete
                </a>
                <a asp-action="UpdatePlane"
                   asp-controller="Home"
                   asp-route-planeID="@plane.PlaneID">
                    Update
                </a>
                <a asp-action="FindAPlane"
                   asp-controller="Home"
                   asp-route-planeID="@plane.PlaneID">
                   Do any planes match this plane?
                </a>

            </div>
        </li>
    }
</ul>
<button>
    <a asp-action="AddPlane" asp-controller="Home">Add A Plane</a>
</button>